.bg-boton {
  background-color: #e2bf83;
  color: white;
  width: 100%;
  padding: 10px;
}


.bg-boton:hover {
  background-color: #e2bf83;
  color: white;
  width: 100%;
  padding: 10px;
}

#confirmar {
  background-color: #8d415d;
}

.icon__rsvp {
  width: 70px;
}

@media (min-width: 768px) {
  .rsvp__container {
    padding: 0 200px;
  }
  .formulario {
    width: 600px;
  }
}


@media (min-width: 1024px) {
  .formulario {
    width: 800px;
  }
}