body {
  font-family: "Poppins", sans-serif;
}

.boton-cal {
  background-color: #8d415d;
  border: none;
  padding-top: 20px;
}

.linea {
  border-bottom: 2px solid #e2bf83;
  
}

@media (min-width: 1024px) {
  #agenda{
    max-width: 1024px;
    margin: 0 auto;
  }
}