#casamos {
  width: 100%;
  background-color: #8d415d;
  color: white;
}

.icon__iglesia {
  width: 70px;
}

@media (min-width: 1024px) {
  .history__container {
    max-width: 1120px;
    margin: 0 auto;
  }
}
